#gy_guide_safety_xzk{margin: 20px auto;font-size: 14px;}
.gy_guide_safety_xzk_header{height: 270px;background: #29A7E1;}
.gy_guide_safety_font_pic1,.gy_guide_safety_font_pic2{margin-top: 60px;}
.gy_guide_safety_font_pic1 img{margin-top: -20px;}
.gy_guide_safety_font_pic1{margin-left: 100px;_margin-left: 50px;}
.gy_guide_safety_font_pic2{margin-left:250px;}
.gy_guide_safety_bz_one{font-size: 12px;text-align: center;margin:40px 0px;}
.gy_guide_safety_bz_one_up{font-size: 27.63px;color: #29A7E1;margin:10px 0px;}
.gy_guide_safety_bz_one_down_pic{border: 1px solid #ECECEC;margin:10px 12px;color:#808080;padding: 15px 36px;}
.gy_guide_safety_bz_two{margin: 20px auto;font-size: 12px;color:#939393;}
.gy_guide_safety_bz_twoas{border-top: 1px solid #ECECEC;}
.gy_guide_safety_bz_two_left{margin-top: 40px;margin-left:70px;_margin-left:40px;}
.gy_guide_safety_bz_two_left img{padding-right:10px;}
.gy_guide_safety_bz_two_lmain{margin-top: 30px;}
.gy_guide_safety_bz_two_lmain span{clear: both;zoom: 1;line-height:25px;}
.gy_guide_safety_bz_two_right{margin-left:70px;_margin-left:30px;}
#gy_guide_safety_bz_two_right_pic1{margin-left:20px;}
#gy_guide_safety_bz_two_left_font1{  margin-right: 30px;}
